<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dang ky tiem sach</title>

    <!-- Template Stylesheet -->
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body>

    <!-- Login Start -->
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="register-form">
                        <form action="/users/luu" method="post">
                            <div class="row">
                                <legend class="text-center">ĐĂNG KÝ</legend>
                                <div class="col-md-6">
                                    <label for="ho">Họ</label>
                                    <input id="ho" name="ho" class="form-control" type="text" placeholder="Họ">
                                </div>
                                <div class="col-md-6">
                                    <label for="ten">Tên</label>
                                    <input id="ten" name="ten" class="form-control" type="text" placeholder="Tên">
                                </div>
                                <div class="col-md-12">
                                    <label for="username">Tên Đăng Nhập</label>
                                    <input id="username" name="username" class="form-control" type="text" placeholder="Username">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">E-mail</label>
                                    <input id="email" name="email" class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label for="phone">Số Điện Thoại</label>
                                    <input id="phone" name="phone" class="form-control" type="text" placeholder="0123456789">
                                </div>
                                <div class="col-md-6">
                                    <label for="password">Mật Khẩu</label>
                                    <input id="password" name="password" class="form-control" type="password" placeholder="Nhập mật khẩu của bạn">
                                </div>
                                <div class="col-md-6">
                                    <label for="retype">Nhập Lại Mật Khẩu</label>
                                    <input id="retype" name="retypePassword" class="form-control" type="password" placeholder="Nhập lại mật khẩu">
                                </div>
                                <div class="col-md-12">
                                    <label>Địa chỉ</label>
                                    <input name="address" class="form-control" type="text" placeholder="Địa chỉ">
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->
</body>

</html>