<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/san-pham/trang-chu" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="/gio-hang/" class="nav-item nav-link">Giỏ Hàng</a>
                    <a href="/thanh-toan" class="nav-item nav-link">Thanh toán</a>
                    <a href="/users/tai-khoan" class="nav-item nav-link">Tài khoản của bạn</a>
                    <a href="/sach/" class="nav-item nav-link">Quản lý</a>
                    <a href="/users/dang-xuat" class="nav-item nav-link">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>