<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Thanh cong</title>

    <!-- Template Stylesheet -->
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body>
    

    <!-- Login Start -->
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="login-form">
                        <form action="/users/dang-nhap" method="post">
                            <div class="row">
                                <legend class="text-center">
                                    <%=message%>
                                </legend>
                                <a class="mx-auto" href="/">Quay lại trang đăng nhập</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->
</body>

</html>