<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trang chu tiem sach</title>

    <!-- Template Stylesheet -->
    <link href="../stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/users/trang-chu" class="nav-item nav-link active">Trang Chủ</a>
                        <a href="" class="nav-item nav-link">Sản Phẩm</a>
                        <a href="" class="nav-item nav-link">Giỏ Hàng</a>
                        <a href="" class="nav-item nav-link">Thanh Toán</a>
                        <a href="" class="nav-item nav-link">Tài khoản của bạn</a>
                        <a href="/users/dang-xuat" class="nav-item nav-link">Đăng xuất</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
    Trang chủ website
</body>

</html>